<div class='container'>
  
  <div class='row'>
    
    <div class="col-md-4 col-md-offset-2">
      <h1>Your agents are standing by</h1>
      <p>Huginn monitors the world and acts on your behalf.</p>

      <%= link_to "Login", new_user_session_path, :class => "btn btn-large" %>
      
    </div>
  
  </div>

</div>
